@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-veryDarkBlue;
  }

  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-veryDarkBlue;
  }
}

/* button {
  background: #d53369;
} */

/* .gradient {
  background: linear-gradient(90deg, #243b4a 0%, #87bcde 100%);
} */
